<div class="section" fxLayout="column" style="padding-bottom: 40px;">
    <div class="placeorder">
        <img class="orderimg" src="../../../assets/CongratsplaceOrder.png" alt="">

    </div>
    <div>
        <p>
            hurray!!! your order is confirmed<br> the order id is #123456 save the order id for<br> further
            communication..
        </p>
    </div>

    <div>
        <table  class="User-table" >
            <tr fxLayoutGap="0px">
                <th style="text-align:center">Email</th>
                <th style="text-align:center">Contact us</th>
                <th style="text-align:center">Address</th>
            </tr>

            <td style="text-align:center">admin@bookstore.com</td>
           
            <td style="text-align:center">+91 9284447778</td>

            <td style="text-align:center">62, 10th Main, 10th Cross, Sector8, opp to DCV<br>complex, near shivswaraj
                restaurant, kjr Layout, Pune 444100</td>

        </table>
    </div>

    <div>
        <button mat-flat-button class="continuebutton" color="primary" routerLink="/dashboard/getallbook">
            Continue shopping</button>
    </div>
</div>