<div fxLayout="column" fxLayoutAlign="center center" fxFlex>
    <mat-toolbar class="toolbar">
        <img src="../../../assets/bookimage.png">
        <span>Bookstore</span>
    </mat-toolbar>

    <div class="forgotPaswrd">
        <h2>Forgot Your Password?</h2>

        <div fxLayout="column" fxLayoutAlign="center center">
            <mat-card>
                <div style="padding: 35px;" >
                    <p>Enter your email address and we'll send you a link to reset your password.</p>
                    <div>
                        <span>Email Id</span>
                        <input type="text" matInput [(ngModel)]="Email">
                    </div>
                    <button class="resetPswrdBtn" (click)="onSubmit()">Reset Password</button>
                </div>

                    <button class="createAccBtn" routerLink="/signUp">Create Account</button>

            </mat-card>
        </div>
    </div>

</div>